table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid gray;
}
td, th {
  border: 1px solid gray;
  text-align: left;
  border-radius: 10px;
  border-style: double;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
.heading{
  text-align: center;
}